.BannerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.namePlate {
  color: #C81B27;
}

.profession {
  letter-spacing: 5px;
  font-size: 4rem;
  padding: 0;
  margin: 0;
  font-weight: 900;
  /* color: transparent;
  background: url('https://st2.depositphotos.com/1981355/8480/v/450/depositphotos_84803554-stock-illustration-matrix-background.jpg'); */
  background-size: 20% auto;
  background-clip: text;
  -webkit-background-clip: text;
  animation: moving 15s alternate infinite;
}
@keyframes moving {
  from{
    background-position: 0% 80%;
  }
  to{
    background-position: 100% 50%;
  }
}
.description {
  color: #8b8b8b;
  width: 90%;
}
.btn{
    height: 3rem;
    width: 10rem;
    background-color: #C81B27;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 800;
}

.btn:hover{
    color: #000;
}