.componentContainer{
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.logo{
    flex:2;
    cursor: pointer;
    font-family: 'Rubik Burned', system-ui;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex:1;
}
.menuitems{
    list-style: none;
    font-size: 12px; 
    font-weight: 600;
    letter-spacing: 2px;
}
.menuitems:hover{
    cursor: pointer;
    color: #C81B27;
}
.postfix{
    color: #C81B27;
}