.componentContainer{
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.logo{
    flex:3;
    cursor: pointer;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex:1;
}
.menuitems{
    list-style: none;
    font-size: 12px; 
    font-weight: 600;
}
.menuitems:hover{
    cursor: pointer;
    color: #ea074d;
}
.postfix{
    color: #ea074d;
}