.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #111;
  color: white;
  flex-direction: column;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1280px;
}
